services:
  # -------------------- DỊCH VỤ POSTGRES --------------------
  postgres:
    image: 'postgres:17.0'
    environment:
      - 'POSTGRES_DB=foodgo_db'
      - 'POSTGRES_USER=admin'
      - 'POSTGRES_PASSWORD=admin'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data  # Lưu dữ liệu DB vào volume
    restart: always
# -------------------- VOLUMES --------------------
volumes:
  postgres_data:       # Volume lưu dữ liệu PostgreSQL
